@import url("https://fonts.googleapis.com/css2?family=My+Soul&family=Oleo+Script:wght@700&display=swap");
@import "logo";
@import "navi";
@import "intro";
@import "contact";
@import "heart";

:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting the common */
$clr-very-dark-bg: hsl(179, 100%, 13%);
$clr-article-bg: hsl(184, 100%, 22%);
$clr-highlight-color: hsl(31, 77%, 52%);
$clr-light-text: hsla(0, 0%, 100%, 0.75);
$clr-border-color: hsl(0, 0%, 95%);
$clr-heart-color: hsl(183, 43%, 84%);

$border-radius: 10px;
$text-line-high: 2.2rem;

/* creating MIXIN */
@mixin con-flex($display, $direction, $justify) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin card($text, $bg) {
  background-color: $bg;
  color: $text;
}

@mixin image($width, $high, $fit) {
  width: $width;
  height: $high;
  object-fit: $fit;
}

@mixin size($width, $high) {
  width: $width;
  height: $high;
}
@mixin media($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: $clr-very-dark-bg;
}

h1,
h2,
h3 {
  font-family: "Oleo Script", cursive;
  letter-spacing: 1.5px;
}
header {
  width: 100%;
  height: 8rem;
  box-shadow: 0px -2px 25px $clr-article-bg;
}

.para {
  @include card($clr-light-text, $clr-article-bg);
}

.hcss {
  color: $clr-highlight-color;
  font-style: italic;
}

.line-break {
  margin: auto;
  width: 50%;
  height: 3px;
  box-shadow: 0px -2px 25px $clr-article-bg;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* the 3 main projects section */
.project img {
  @include image(35rem, 20rem, cover);
}
.project {
  max-width: 100%;
}

.proj-intro {
  color: $clr-light-text;
  text-align: center;
  font-size: 4rem;
  margin: 8rem 0 13rem;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.proj-intro::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  top: 4.5rem;
  left: 0;
}

.proj-sub img {
  @include image(100%, 100%, cover);
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.proj-sub {
  height: 35rem;
  width: 55.5rem;
  outline: 1px solid $clr-light-text;
  outline-offset: 10px;
  overflow: hidden;
  position: relative;
}

/* setting the hover the image to see the View project text*/

.proj {
  width: 100%;

  .view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    font-family: "Oleo Script", cursive;
    opacity: 0;
    color: $clr-very-dark-bg;
    text-shadow: 2px 2px $clr-light-text;
  }
  .proj-sub:hover img {
    transform: scale(1.5);
    transition: transform 1s ease-in-out;
    cursor: pointer;
    opacity: 0.7;
  }

  .proj-sub:hover .view {
    opacity: 1;
  }

  .para {
    width: 55.5rem;
  }

  .para h3 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem 0 2.5rem;
  }
}
/* setting an empty box and design outline for boxes */
.vn-intro,
.asia-text,
.cuckoo-text,
.empty {
  outline: 1px solid $clr-article-bg;
  outline-offset: 10px;
  padding: 2rem;
  margin-top: 3rem;
}
.empty {
  background-color: $clr-article-bg;
  width: 7rem;
  display: none;
}

/* setting Vietnam and Cuckoo project article  */
.vietnam,
.cuckoo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr;
}

.vn-intro,
.cuckoo-text {
  grid-column: 1/2;
  grid-row: 2/3;
}

:is(.vietnam, .cuckoo) .proj-sub {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* setting for Asia market article */
.asia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr;
  margin: 15rem 0;
}

.asia .asia-text {
  grid-column: 1/2;
  grid-row: 2/3;
}

.asia .proj-sub {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* More projects area */
.more-project {
  @include con-flex(flex, column, space-evenly);
  gap: 2rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
  padding-left: 7rem;

  .para {
    @include size(40rem, 60rem);
    min-width: 30rem;
    position: relative;
    border-radius: $border-radius;
  }

  /* setting the hover effect for the images */
  .view-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    color: $clr-very-dark-bg;
    text-shadow: 1px 1px $clr-light-text;
  }

  .para-card {
    width: 100%;
    height: 50%;
    position: relative;
  }
  .para-card img {
    @include image(100%, 100%, cover);
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    border-radius: $border-radius;
  }
  .para-card::after,
  .para-card::before {
    content: "";
    position: absolute;
    top: 1.1rem;
    left: 1.1rem;
    right: 1.1rem;
    bottom: 1.1rem;
  }

  .para-card::before {
    transform: scale(0, 1);
    transition: transform 300ms ease-in-out;
    border-top: 2px solid $clr-very-dark-bg;
    border-bottom: 2px solid $clr-very-dark-bg;
    z-index: 9;
  }

  .para-card::after {
    transform: scale(1, 0);
    transition: transform 500ms ease-in-out;
    border-left: 2px solid $clr-very-dark-bg;
    border-right: 2px solid $clr-very-dark-bg;
  }

  .para-card:hover::before {
    transform: scale(1.05, 1);
  }

  .para-card:hover::after {
    transform: scale(1, 1.05);
  }

  .para-card:hover img {
    opacity: 0.7;
  }

  .para-card:hover .view-more {
    opacity: 1;
  }

  /*setting the more project text and button */
  .para-sub h3 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }

  .para-sub {
    position: absolute;
    top: 50%;
    margin: 0rem 1rem;
    padding-left: 1rem;
    line-height: $text-line-high;
  }

  .para-sub p {
    padding: 1rem 0;
  }

  button a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: $clr-very-dark-bg;
  }

  button {
    background-color: $clr-light-text;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: $border-radius;
    border: none;
    box-shadow: 0 0 10px $clr-very-dark-bg;
  }

  button:hover {
    background-color: $clr-very-dark-bg;
    box-shadow: 0 0 10px $clr-light-text;
  }

  button:hover a {
    color: $clr-light-text;
  }
  .para:last-of-type {
    display: block;
  }
}

/* setting the responsive screen */
@include media(465px) {
  .intro:hover .intro-text {
    transform: translateX(100%);
  }

  .contact {
    margin: 20rem auto;
  }
}
@include media(786px) {
  .project {
    margin-left: 10rem;
  }
  .more-project {
    @include con-flex(flex, row, center);
    padding-left: 0;
    .para:last-of-type {
      display: none;
    }
  }
}
@include media(900px) {
  .intro:hover .intro-text {
    transform: translateX(45%);
  }
  .empty {
    display: block;
  }

  /* setting responsive Vietnam and Cuckoo project article  */
  .project {
    margin-left: 5rem;
  }
  .vietnam,
  .cuckoo {
    display: grid;
    grid-template-columns: 1.7fr 1.1fr 18rem;
    grid-template-rows: 3rem 1fr 5rem;
  }

  .vn-intro,
  .cuckoo-text {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  :is(.vietnam, .cuckoo) {
    .proj-sub {
      grid-column: 2/3;
      grid-row: 1/4;
    }
    .empty {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
  /* setting responsive for Asia market article */
  .asia {
    display: grid;
    grid-template-columns: 7rem 1fr 1.5fr;
    grid-template-rows: 3rem 1fr 5rem;
  }

  .asia .asia-text {
    padding-left: 3rem;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .asia .proj-sub {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .empty {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .more-project {
    flex-direction: row;
    .para:last-of-type {
      display: block;
    }
  }
}
@include media(1000px) {
  .intro:hover .intro-text {
    transform: translateX(25%);
  }
}

footer {
  width: 100%;
  height: 7rem;
  box-shadow: 0px -2px 25px $clr-article-bg;
  @include card($clr-light-text, $clr-very-dark-bg);
  text-align: end;
  font-style: italic;
  padding: 2.5rem;
  margin-top: 20rem;
}
